[alias]
  co     = checkout
  remove = !git checkout master && git push -d origin $1 && git branch -D
  cob    = !git checkout -b $1 && git push -u origin
[pull]
	rebase = false

; Hooks and such
[includeIf "gitdir:~/.dotconf/"]
  path = ~/.gitconfig.dotconf

; Private profile, don't include in dotfile repo
; This will include things such as:
; [user]
;   email = your.name@some.domain
;   name = Your Name
[include]
  path = ~/.private_profile.gitconfig
